<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <table class="table table-bordered">
                <tr>
                    <th width="20%">Фото</th>
                    <th width="50%">Детали</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempAnimalItem of animalItems">
                    <td>
                        <img src="{{ tempAnimalItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempAnimalItem.id }}</p>
                        <p>{{ tempAnimalItem.name }}</p>
                        <p>{{ tempAnimalItem.description }}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Удалить пункт из своего списка</label>
                        </div>

                        <button (click)="remove(tempAnimalItem)" class="btn btn-primary btn-sm mt-2">
                            Удалить
                        </button>

                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Количество животных: {{ totalQuantity }}</p>
                        <p>Максимальное количество: {{ maxNumberOfAminals }}</p>
                        <a routerLink="/animal-criteria-report" class="btn btn-primary mb-3">Оценить состояние
                            животных</a>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>