<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">

                <!-- user form group -->
                <div formGroupName="user" class="form-area">
                    <h3>Пользователь</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Имя</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="name" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Роль</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="jobTitle" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Телефон</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="phone" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Сохранить</button>
                </div>

            </form>

        </div>
    </div>
</div>