<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container" id="main-container">
      <div class="row">
        <!-- Common navigation -->
        <div>
          <a routerLink="/user-form" class="btn btn-primary mb-3" role="button">Новый пользователь</a>
          <form class="d-flex flex-row mb-3 me-3">
            <input class="form-control me-2" type="search" placeholder="Поиск пользователей..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Найти</button>
          </form>
        </div>
        <!-- User cards -->
        <div *ngFor="let user of users" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <a href=""><img src="../../../assets/images/users/default-avatar.png" alt=""
                    class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{user?.name}}</h5>
                <p class="m-0">{{user?.jobTitle}}</p>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-envelope float-start"></i>Email: <a
                  href="#">{{user?.email}}</a>
              </li>
              <li class="list-group-item"><i class="fa fa-phone float-start"></i>Телефон: {{user?.phone}}</li>
            </ul>
            <div class="card-body">
              <div class="float-end btn-group btn-group-md">
                <a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                  data-original-title="Изменить"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                  data-original-title="Удалить"><i class="fa fa-times"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Notification for no users -->
    <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Нет пользователей!</h4>
        <p>Пользователи не найдены.</p>
      </div>
    </div>
  </div>
</div>