<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of animals-->
                <div class="col-md-3" *ngFor="let tempAnimal of animals">

                    <div class="animal-box">
                        <div class="image-container">
                            <a routerLink="/animal-details/{{ tempAnimal.id }}">
                                <img src="{{ tempAnimal.imageUrl }}" class="img-responsive">
                            </a>
                        </div>
                        <a routerLink="/animal-details/{{ tempAnimal.id }}">
                            <h1>{{ tempAnimal.name }}</h1>
                        </a>
                        <div class="description-text">
                            {{ tempAnimal.description }}
                        </div>
                        <a routerLink="/animal-details/{{ tempAnimal.id }}" routerLinkActive="active-link">
                            Подробнее
                        </a>
                        <p>Добавлено: {{ tempAnimal.dateCreated | date }}</p>
                        <p>Обновлено: {{ tempAnimal.dateUpdated | date }}</p>
                        <a href="#" class="primary-btn">Добавить себе</a>
                    </div>
                </div>

                <!-- if animals empty then display a message -->
                <div *ngIf="animals?.length === 0" class="alert-warning col-md-12" role="alert">
                    No animals found.
                </div>

            </div>
        </div>
    </div>
</div>